header img{
  width: 94vw;
}

header ul{
  display: flex;
  flex-wrap: nowrap;
  padding-left: 0
}

nav li{
  border: black solid thin;
  flex-basis: 100%;
  text-align: center;
  padding: 5px;
}

li {
    list-style : none;
}


main ul{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0
}

main li{
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 100%;
  margin-bottom: 20px
}

main li img{
  max-width: 45%;
}

main li h2, main li p{
  margin: 15px;
}

main ul li:nth-last-child(odd){
  flex-direction: row-reverse
}

main article h2{
  margin-top: 0;
}

main {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 30px
}

aside{
  border: black solid thin;
  padding-left: 20px;
  margin-bottom: 10em;
  margin-left: 15px
}

aside section a{
  display: block;
  border: black thin solid;
  margin-right: 9em;
  padding: 8px
}

aside img{
  width: 2vw
}

aside section section{
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray
}

aside section section p, aside section section h3{
  margin: 0;
}

footer{
  border: black thin solid;
  padding-left : 20px;
  
}

html{
  padding-right: 40px;
  padding-left: 40px
}